/* ------Generics------ */
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: #fff;
    font-family: sans-serif;
}

img {
    width: 100%;
    /* height: calc(79vh / 5); */
}

/* .debug{
    flex-basis: 100vh;
} */

/* ------Utilities------ */

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
} */


/* ------Content------ */
/* UPPER */
nav{
    background-color: black;
    position: fixed;
    width: 100%;
    /* padding: 1%; PROVA CON LINE-HEIGHT */
    display: flex;
    justify-content: flex-end;
    height: 7vh;
    z-index: 5;
}

.high-action .button{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0.5vh;
    padding: 0.2vh 0.4vh;
    border-radius: 0.5vh;
    /* opacity: 0.5; */
    color: #fff;
    font-size: 0.8rem;

}
/* end UPPER */

/* MIDDLE */
main{
    background-color: black;
    flex-grow: 1;
    padding: 8vh 8vh 12vh;
    /* justify-content: space-between; */
    /* padding-top: 2%; */
    /* align-content: start; */
}

.card{
    width: calc(100% / 7 - 0.4%);
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    position: relative;
    background-image: url(https://picsum.photos/200);
    margin: 0.4% 0.2%;
}


  span{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1;
    bottom: 2%;
    left: 0;
    padding: 0.3vh;
    FONT-SIZE: 0.8rem;
  }

/* end MIDDLE */

/* LOWER */
footer{
    background-color: #222222;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    /* padding: 1%; PROVA CON LINE-HEIGHT */
    /* display: flex; */
    justify-content: space-between;
    height: 10vh;
    z-index: 5;
}

footer select{
    position: absolute;
    top: 25%;
    left: 80%;
    transform: rotate(180deg);
    background-color: #222222;
    border: none;
    color: white;
}

footer i{
    font-size: x-large;
    padding: 0 25%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1vh;

}

.left-action, .center-action, .end-action{
    align-items: center;
    /* flex-basis: calc(100% / 3); */
}

.center-action{
    justify-content: space-between;
    flex-grow: 2;
    flex-basis: calc(100% / 8);
}

.end-action{
    /* flex-basis: calc(100% / 3); */
    flex-grow: 1;
}

.left-action{
    flex-grow: 1;
}

.left-action>div{
    padding: 0 5%;
}

footer p{
font-size: 0.7rem;
}

footer .icon{
    position: relative;
}

.end-action{
    text-align: right;
}

.end-action>button{
    height: 100%;
    padding: 0% 5%;
    background-color: #4a4a4a;
    color: red;
    border: none;
}

#green{
    color: #49c800;
}

select{
    display: inline-block;
}
/* end LOWER */